   <span class="integration-summary-tag integration-background-color integration-border-color">
   <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">
        {{#each itypes as |itype index|}}
            {{if index ", "}}{{itype}}
        {{/each}}
    </span>
</span>
    <span class="integration-summary-tag integration-background-color integration-border-color">
   <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">{{highestThreatScore}}</span>
</span>
    <span class="integration-summary-tag integration-background-color integration-border-color">
   <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">{{highestSeverity}}</span>
</span>
    {{#unless isSingleIndicator}}
        <span class="integration-summary-tag integration-background-color integration-border-color">
   <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">{{numSources}} sources</span>
</span>
    {{/unless}}
    {{#each (limit allTags maxTagsInSummary) as |tag|}}
        <span class="integration-summary-tag integration-background-color integration-border-color">
   <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">{{tag.name}}</span>
</span>
    {{/each}}
    {{#if (gt additionalTagCount 0)}}
        <span class="integration-summary-tag integration-background-color integration-border-color">
   <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">+{{additionalTagCount}}</span>
</span>
    {{/if}}


