{{#if (gt itypes.length 0)}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
        <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
        <span class="integration-text-color">
        {{#each itypes as |itype index|}}
            {{if index ", "}}{{itype}}
        {{/each}}
        </span>
    </span>
{{/if}}

<span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
  <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
  <span class="integration-text-color">{{statuses}}</span>
</span>

{{#unless (eq highestSeverity "na")}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
        <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
        <span class="integration-text-color">Severity: {{highestSeverity}}</span>
    </span>
{{/unless}}

{{#unless (eq highestThreatScore -1)}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
        <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
        <span class="integration-text-color">ThreatScore: {{highestThreatScore}}</span>
    </span>
{{/unless}}

{{#unless isSingleIndicator}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
        <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
        <span class="integration-text-color">{{numSources}} sources</span>
    </span>
{{/unless}}

{{#each (limit allTags maxTagsInSummary) as |tag|}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
        <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
        <span class="integration-text-color">{{fa-icon icon="tag" fixedWidth=true title="tag"}}{{tag.name}}</span>
    </span>
{{/each}}

{{#if (gt additionalTagCount 0)}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
        <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
        <span class="integration-text-color">+{{additionalTagCount}} tag{{#if (gt additionalTagCount 1)}}s{{/if}}</span>
    </span>
{{/if}}
